doctype

head

	meta(charset='utf-8')
	title webgl sketch

	link(rel="stylesheet", href="css/app.css")

body(style="background-color: black")

	a#dpr(href="http://ivxvixviii.io")

	script(src="js/bundle.js")
