doctype

head

	meta(charset='utf-8')
	title webgl sketch

	link(rel="stylesheet", href="assets/css/app.css")

body(style="background-color: black")

	a#ixviii(href="https://www.ixviii.io", target="_blank")

	script(src="assets/js/bundle.js")
