$c-black: rgb(0, 0, 0);

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

a {
	color: $c-black;
	text-decoration: none;
}

.ixviii {
	z-index: 10;
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	display: block;
	width: 4rem;
	height: 4rem;
	background-image: url('../image/ixviii.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	transition: opacity 0.5s ease;
}

.dg.ac {
	// scss-lint:disable ImportantRule
	// needed
	z-index: 1 !important;
	// scss-lint:enable ImportantRule
}
