doctype

head

	meta(charset='utf-8')
	title webgl-app
	link(rel="stylesheet", href="css/app.css")

body(style="background-color: black")

	main#app
	a#dpr(href="http://ivxvixviii.io")
	script(src="js/vendor.js")
	script(src="js/app.js")