doctype

head

	meta(charset='utf-8')
	title webgl-app

	if production
		link(rel="stylesheet", href="css/app.min.css")
	else
		link(rel="stylesheet", href="css/app.css")

body(style="background-color: black")

	main#app
	a#dpr(href="http://ivxvixviii.io")
	if production	
		script(src="js/bundle.min.js")
	else
		script(src="js/bundle.js")